<!doctype html>
<html lang="en">
  <head>
   <link rel="stylesheet" href="./../../../test_Series/public/style.css">
   {{>link.css}}
  </head>
  <body>
     {{>navheader}}
          <!--Banner-->
{{!-- {{>banner}} --}}
         <!--End of Banner-->
         <!--About Section----->
         {{!-- {{>about}} --}}
         <!--End of About Section-->
         <!---Projects----->
       {{!-- {{>}} --}}
      <!--End of project Section-->
       
         <!--Services-->
    {{!-- {{>services}} --}}
         <!--End of Services-->
         <!--Testimonial Section-->
        {{!-- {{>testimonial}} --}}
       <!--End of Testimonial Section-->

<!--Contact us section-->
{{!-- {{>contact}} --}}
<!--end of contact us section-->

{{>footer}}
  </body>
</html>