body {  
    background: #aaf5bb !important;  
    font-family: 'Muli', sans-serif;
    /* background-image: url(./../imag3/login\ imge.jpg);   */
  }  
  h1 {  
    color: rgb(22, 1, 1);  
    padding-bottom: 2rem;  
    font-weight: bold;  
  }  
  a {  
    color: #333;  
    
  }  
  a:hover {  
    color: #380ef1;  
    text-decoration: none;  
  }  
  .form-control:focus {  
      color: #000;  
      background-color: #fff;  
      border: 2px solid #E8D426;  
      outline: 0;  
      box-shadow: none;  
  }  
  .btn {  
    background: #28a745;  
    border: #E8D426; 
    float: right; 
    /* padding-right: 50%;
    padding-left: 30%; */
    
  }  
  .btn:hover {  
    background: #28a745;  
    border: #E8D426;  
  }  