<section>
             <div class="container">
                 <div class="about mb-4">
                     <div class="row text-center m-4">
                         <div class="col-md-12 text-center">
                             <h6>Know us more</h6>
                             <h2 class="mb-4">About Us</h2>
                             <span class="title-border"></span>
                             <p>Lorem ipsum dolor sit amet consectetur 
                            adipisicing elit. Nisi praesentium assumenda 
                            eveniet error repellendus, delectus, molestias 
                            magni voluptatum itaque libero excepturi quod hic 
                            illo quos eius mollitia modi corrupti? Itaque!</p>

                         </div>
                     </div>
                     <!--Parts-->
                     <div class="row text-center">
                         <div class="col-lg-4 my-2 py-3">
                        <i class="fas fa-cubes fa-3x mb-3"></i>
                             <h5 class="p-3 font-weight-bold">Pre-construction Services</h5>
                             <p>Lorem ipsum dolor, sit amet consectetur 
                                adipisicing elit. Sapiente reprehenderit placeat 
                                non cupiditate assumenda velit.</p>
                      </div>
                         <!--end of part 1-->
                         <div class="col-lg-4 my-2 py-3">
                       <i class="far fa-edit fa-3x mb-3"></i>                         
                        <h5 class="p-3 font-weight-bold">Design-Build</h5>
                           <p>Lorem ipsum dolor, sit amet consectetur 
                             adipisicing elit. Sapiente reprehenderit placeat 
                              non cupiditate assumenda velit.</p>
                            </div>
                              <!--Part 3-->
                         <div class="col-lg-4 my-2 py-3">
                          <i class="fas fa-th fa-3x mb-3"></i>
                         <h5 class="p-3 font-weight-bold">Construction Services</h5>
                            <p>Lorem ipsum dolor, sit amet consectetur 
                                adipisicing elit. Sapiente reprehenderit placeat 
                                 non cupiditate assumenda velit.
                                </p>
                              </div>                           
                     </div>
                 </div>
             </div>
         </section>