 <section class="projects py-3">
          <div class="container">
              <div class="project mb-4">
                  <div class="row text-center m-4">
                      <div class="col-md-12 text-center">
                        <h2 class="mb-4">Projects</h2>
                          <span class="title-border"></span>
                          <p class="text-light">Lorem ipsum dolor sit amet consectetur 
                         adipisicing elit. Nisi praesentium assumenda 
                         eveniet error repellendus, delectus, molestias 
                         magni voluptatum itaque libero excepturi quod hic 
                         illo quos eius mollitia modi corrupti? Itaque!</p>

                      </div>
                  </div>
                  <!--Parts-->
                  <div class="row text-center">
                      <div class="col-lg-4 my-2">
                        <div class="project-container"><!--box-->
                          <div class="img-content"><!--imgBx-->
                          <img src="imageexpress/commercial.jpg" alt=""class="img-fluid project-img">
                        </div>
                        <div class="content">
                          <h3 class="text-uppercase text-center text-dark px-3">
                            Commercial</h3>
                        <p class="text-dark">Lorem ipsum dolor sit amet
                           consectetur adipisicing elit.
                           Lorem ipsum dolor sit amet
                           consectetur adipisicing elit.
                           Lorem ipsum dolor sit amet
                           consectetur adipisicing elit.
                           Lorem ipsum dolor sit amet
                           consectetur adipisicing elit.
                           Lorem ipsum dolor sit amet
                           consectetur adipisicing elit.
                           Lorem ipsum dolor sit amet
                           consectetur adipisicing elit.
                          </p>
                          </div>
                        </div>
                      </div>
                      <!--End of img-container-->
                      <!--end of part 1-->
                      <div class="col-lg-4 my-2">
                        <div class="project-container"><!--box-->
                          <div class="img-content"><!--imgBx-->
                          <img src="imageexpress/educational.jpg" alt=""class="img-fluid project-img">
                        </div>
                        <div class="content">
                          <h3 class="text-uppercase text-center text-dark px-3">
                            Hospital</h3>
                        <p class="text-dark">Lorem ipsum dolor sit amet
                           consectetur adipisicing elit.
                           Lorem ipsum dolor sit amet
                           consectetur adipisicing elit.
                           Lorem ipsum dolor sit amet
                           consectetur adipisicing elit.
                           Lorem ipsum dolor sit amet
                           consectetur adipisicing elit.
                           Lorem ipsum dolor sit amet
                           consectetur adipisicing elit.
                           Lorem ipsum dolor sit amet
                           consectetur adipisicing elit.
                          </p>
                          </div>
                        </div>
                      </div>
                      <!--End of img-container-->
                           <!--Part 3-->
                      <div class="col-lg-4 my-2">
                        <div class="project-container"><!--box-->
                          <div class="img-content"><!--imgBx-->
                          <img src="imageexpress/health-care.jpg.crdownload" alt=""class="img-fluid project-img">
                        </div>
                        <div class="content">
                          <h3 class="text-uppercase text-center text-dark px-3">
                            Hospital</h3>
                        <p class="text-dark">Lorem ipsum dolor sit amet
                           consectetur adipisicing elit.
                           Lorem ipsum dolor sit amet
                           consectetur adipisicing elit.
                           Lorem ipsum dolor sit amet
                           consectetur adipisicing elit.
                           Lorem ipsum dolor sit amet
                           consectetur adipisicing elit.
                           Lorem ipsum dolor sit amet
                           consectetur adipisicing elit.
                           Lorem ipsum dolor sit amet
                           consectetur adipisicing elit.
                          </p>
                          </div>
                        </div>
                      </div>
                      <!--End of img-container-->                           
                  </div>
              </div>
          </div>
      </section>