 <section id="testimonials" class="py-5 all">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <!--       carousel-item-->
                <div class="carousel-item active">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-10 mx-auto d-flex justify-content-between py-3">
                        <div class="align-self-center ml-3">
                          <img src="imageexpress/img-1.jpg" alt="" class=" rounded-circle main-img">
                        </div>
                        <div class="review-text px-5">
                          <h2 class="text-capitalize mb-3 des-color">Mickey Mouse</h2>
                        <p class="text-light">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            Itaque ullam, doloremque sequi rem impedit assumenda.
                         </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--carousel-item-->
                <!--       carousel-item-->
                <div class="carousel-item">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-10 mx-auto d-flex justify-content-between py-3">
                        <div class="align-self-center ml-3">
                          <img src="imageexpress/img-2.jpg" alt="" class=" rounded-circle main-img">
                        </div>
                        <div class="review-text px-5">
                          <h2 class="text-capitalize mb-3 des-color">Donald Duck</h2>
        
                          <p class="text-light">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                             Itaque ullam, doloremque sequi rem impedit assumenda.
        
                          </p>
        
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--carousel-item-->
                <div class="carousel-item">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-10 mx-auto d-flex justify-content-between py-3">
                        <div class="align-self-center ml-3">
                          <img src="imageexpress/img-4.jpg" alt="" class=" rounded-circle main-img">
                        </div>
                        <div class="review-text px-5">
                          <h2 class="text-capitalize mb-3 des-color">Bugs Bunny</h2>
        
                          <p class="text-light">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque ullam, doloremque sequi rem impedit assumenda.
        
                          </p>
        
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--carousel-item-->
              </div>
              <!-- carousel controls-->
              <a class="carousel-control-prev" href="#carouselExampleControls" 
              role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" ></span>
            
          </a>
              <a class="carousel-control-next" href="#carouselExampleControls" 
              role="button" data-slide="next">
            <span class="carousel-control-next-icon" ></span>
            
          </a>
            </div>
          </section>