<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
</head>
<body>
     {{!-- {{{>header}}   --}}
    {{!-- {{>banner}}  --}}
     {{!-- {{>about}}  --}}
   
    {{errorcomemnt}}
</body>
</html>