<!doctype html>
<html lang="en">
  <head>
   <link rel="stylesheet" href="./style.css">
  </head>
  <body>
     {{>header}}
          <!--Banner-->
{{>banner}}
         <!--End of Banner-->
         <!--About Section----->
         {{>about}}
         <!--End of About Section-->
         <!---Projects----->
       {{>project}}
      <!--End of project Section-->
       
         <!--Services-->
    {{>services}}
         <!--End of Services-->
         <!--Testimonial Section-->
        {{>testimonial}}
       <!--End of Testimonial Section-->

<!--Contact us section-->
{{>contact}}
<!--end of contact us section-->

{{>footer}}
  </body>
</html>