<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
</head>
<body>
    {{>header}}
    {{>banner}}
    {{!-- {{>about}} --}}
    {{>project}}
    {{!-- {{>services}} --}}
    {{!-- {{>testimonial}} --}}
    {{!-- {{>contect}} --}}
   
    
</body>
</html>