 <div class=" mt-5">
            <div class=" section_row section_row_3">
                <div class="container">
                    <div class="text-center">
                        <h3 class="section_header"> Download GovtJob App Today ! </h3>

                    </div>

                    <span class="bubble_1 animation_floating"></span>
                    <span class="square_2 animation_rotating"></span>
                    <span class="bubble_3 animation_floating"></span>
                    <span class="bubble_4 animation_pulse"></span>
                    <!-- <span class="triangle_1 animation_floating"> -->
                    <span class="triangle_1 animation_rotating">
                        <img src="static/govtjob/images/triangle_one.png" />
                    </span>
                    <div class=" text-left mt-5">
                        <div class="row">
                            <div class="col-md-7 text-center">
                                <img src="../image/mobile-app-image.jpg" style="max-width: 300px"
                                    class="img-responsive" />
                            </div>

                            <div class="col-md-5">
                                <div class="font-24 mb-5">
                                    <img src="../image/svg_icons/006-study.svg" style="width:48px;" class="mr-3" />
                                    Daily Current Affairs
                                </div>
                                <div class="font-24 mb-5">
                                    <img src="../image/svg_icons/027-language.svg" style="width:48px;" class="mr-3" />
                                    Free Mock Tests for all Govt. Exams
                                </div>
                                <div class="font-24 mb-5">
                                    <img src="../image/svg_icons/015-desk-lamp.svg" style="width:36px;" class="mr-3" />
                                    Free Daily Current Affairs Quiz
                                </div>

                                <div class="font-24 mb-5">
                                    <img src="../image/svg_icons/057-trophy.svg" style="width:36px;" class="mr-3" /> All
                                    India Ranking
                                </div>

                                <div class="font-24 mb-5">
                                    <img src="../image/svg_icons/038-microscope.svg" style="width:36px;" class="mr-3" />
                                    Detailed Analysis
                                </div>
                                <!-- <div class="font-24 mb-5">
									<a href="https://play.google.com/store/apps/details?id=org.govjobadda.android"
										target="_blank" class="">
										<img src="static/govtjob/images/google_play.png"
											class="img-responsive" style="max-width: 280px;" />
									</a>
								</div> -->

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>