<div class="main_container">

    <div class="mt-5 pb-5">
        <div class="container">
            <div class="row home_banner">
                <div class="col-lg-4 pt-md-5 pt-xs-3">
                    <div class="home_banner_left_col">
                        <h4 class="mt-md-3 mt-2">Presenting the All New !</h4>
                        <h1>GovtJob</h1>
                        <h5 class="mt-md-3 mt-2"> Free Mock Tests for Government Exams</h5>
                        <p></p>
                    </div>
                </div>
                <div class="col-lg-8 hidden-xs text-right">
                    <img src="./../image/FOR-STUDENTS-home page of index.jpg" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>
</div>