<div class="section_row footer_row">
    <div class="container">
        <div class="row text-left mt-5">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h3>GovtJob </h3>
                <p> Free Mock Tests for All Government Exams </p>

                <div class="row text-left mt-5">


                    <div class="col-sm-6 col-md-3"><a
                            href="current-affairs-mcq-exam-free-test-series-list/5dc9886a056e3726c4d34c9a/index.html"
                            title="Current Affairs MCQ Free Test Series" class="footer_exam_link"> Current
                            Affairs MCQ Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="chapter-wise-testsbilingual-exam-free-test-series-list/5db29785056e3768ae219143/index.html"
                            title="Chapter Wise  Tests(Bilingual) Free Test Series" class="footer_exam_link">
                            Chapter Wise Tests(Bilingual) Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="sectional-tests-exam-free-test-series-list/5dde551a056e3743792888c7/index.html"
                            title="Sectional Tests Free Test Series" class="footer_exam_link"> Sectional Tests
                            Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="general-awareness-subject-wise-exam-free-test-series-list/5db0089a056e375982370e25/index.html"
                            title="General Awareness Subject Wise Free Test Series" class="footer_exam_link">
                            General Awareness Subject Wise Free Test Series </a> </div>



                    <div class="col-sm-6 col-md-3"><a
                            href="hssc-canal-patwari-exam-free-test-series-list/5e01b576056e3775449da16a/index.html"
                            title="HSSC Canal Patwari Free Test Series" class="footer_exam_link"> HSSC Canal
                            Patwari Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="hssc-sub-inspector-exam-free-test-series-list/5e01d806056e377545323189/index.html"
                            title="HSSC SUB-INSPECTOR Free Test Series" class="footer_exam_link"> HSSC
                            SUB-INSPECTOR Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="hssc-constable-exam-free-test-series-list/5e01ea25056e3775453259ca/index.html"
                            title="HSSC CONSTABLE Free Test Series" class="footer_exam_link"> HSSC CONSTABLE
                            Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="rajasthan-patwari-exam-exam-free-test-series-list/5e60904c056e3774bbbe55a7/index.html"
                            title="Rajasthan Patwari Exam Free Test Series" class="footer_exam_link"> Rajasthan
                            Patwari Exam Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="ssc-cgl-tier-2-exam-exam-free-test-series-list/5e70d091056e3774bbc21d18/index.html"
                            title="SSC CGL Tier 2 Exam Free Test Series" class="footer_exam_link"> SSC CGL Tier
                            2 Exam Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="ssc-chsl-previous-year-papers-exam-free-test-series-list/5dc666cc056e375c3263d78d/index.html"
                            title="SSC CHSL Previous Year Papers Free Test Series" class="footer_exam_link"> SSC
                            CHSL Previous Year Papers Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="ssc-cgl-tier-i-exam-free-test-series-list/5da9b1f8056e37597b485091/index.html"
                            title="SSC CGL Tier I Free Test Series" class="footer_exam_link"> SSC CGL Tier I
                            Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="ssc-cgl-previous-year-papers-exam-free-test-series-list/5dc13ec7056e3768b006c6c8/index.html"
                            title="SSC CGL Previous Year Papers Free Test Series" class="footer_exam_link"> SSC
                            CGL Previous Year Papers Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="ssc-chsl-tier-i-exam-free-test-series-list/5ff422c3056e375168367a0f/index.html"
                            title="SSC CHSL Tier I Free Test Series" class="footer_exam_link"> SSC CHSL Tier I
                            Free Test Series </a> </div>



                    <div class="col-sm-6 col-md-3"><a
                            href="rbi-assistant-prelim-exam-exam-free-test-series-list/5dc5b98c056e375e9f3b03dd/index.html"
                            title="RBI Assistant Prelim Exam Free Test Series" class="footer_exam_link"> RBI
                            Assistant Prelim Exam Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="niacl-ao-prelim-exam-free-test-series-list/5dd42ec1056e37772346e5d8/index.html"
                            title="NIACL AO Prelim Free Test Series" class="footer_exam_link"> NIACL AO Prelim
                            Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="nabard-office-attendant-exam-exam-free-test-series-list/5e05d9b1056e3758c9bd4434/index.html"
                            title="Nabard Office Attendant Exam Free Test Series" class="footer_exam_link">
                            Nabard Office Attendant Exam Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="nabard-grade-a-exam-exam-free-test-series-list/5e300058056e3774ba5f630b/index.html"
                            title="NABARD Grade A Exam Free Test Series" class="footer_exam_link"> NABARD Grade
                            A Exam Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="rbi-assistant-mains-exam-exam-free-test-series-list/5e4b6259056e3774bdf10874/index.html"
                            title="RBI Assistant Mains Exam Free Test Series" class="footer_exam_link"> RBI
                            Assistant Mains Exam Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="central-bank-of-india-soit-exam-exam-free-test-series-list/5e27f8ef056e3774bba91225/index.html"
                            title="Central Bank Of India SO(IT) Exam Free Test Series" class="footer_exam_link">
                            Central Bank Of India SO(IT) Exam Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="dena-bank-po-exam-free-test-series-list/5dd4d618056e37437925d6f1/index.html"
                            title="DENA BANK PO Free Test Series" class="footer_exam_link"> DENA BANK PO Free
                            Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="sbi-po-main-exam-free-test-series-list/5dd41c8e056e37771e789c77/index.html"
                            title="SBI PO Main Free Test Series" class="footer_exam_link"> SBI PO Main Free Test
                            Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="ibps-clerk-prelims-exam-free-test-series-list/5da419b2056e3758e7b5e5e9/index.html"
                            title="IBPS Clerk Prelims Free Test Series" class="footer_exam_link"> IBPS Clerk
                            Prelims Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="sbi-po-prelims-exam-free-test-series-list/5dc70140056e37456a0e5270/index.html"
                            title="SBI PO Prelims Free Test Series" class="footer_exam_link"> SBI PO Prelims
                            Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="ibps-po-prelims-2020-exam-free-test-series-list/5dc7067a056e37456a0e536b/index.html"
                            title="IBPS PO Prelims 2020 Free Test Series" class="footer_exam_link"> IBPS PO
                            Prelims 2020 Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="ibps-rrb-officer-scale-i-mains-po-exam-free-test-series-list/5dd43b7c056e37772346f6ce/index.html"
                            title="IBPS RRB Officer Scale I Mains (PO) Free Test Series" class="footer_exam_link"> IBPS
                            RRB Officer Scale I Mains (PO) Free Test Series </a>
                    </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="ibps-rrb-office-asst-mains-clerk-exam-free-test-series-list/5dd44080056e37771d784137/index.html"
                            title="IBPS RRB Office Asst. Mains (Clerk) Free Test Series" class="footer_exam_link"> IBPS
                            RRB Office Asst. Mains (Clerk) Free Test Series </a>
                    </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="sbi-clerk-prelims-exam-free-test-series-list/5dc72aa8056e37456f683efb/index.html"
                            title="SBI Clerk Prelims Free Test Series" class="footer_exam_link"> SBI Clerk
                            Prelims Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="ibps-rrb-office-asst-prelims-clerk-exam-free-test-series-list/5dc53ea4056e37508d4abf78/index.html"
                            title="IBPS RRB Office Asst. Prelims (Clerk) Free Test Series" class="footer_exam_link">
                            IBPS RRB Office Asst. Prelims (Clerk) Free Test Series
                        </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="ibps-rrb-officer-scale-i-prelims-po-exam-free-test-series-list/5dc40271056e37432dc8e4e7/index.html"
                            title="IBPS RRB Officer Scale I Prelims (PO) Free Test Series" class="footer_exam_link">
                            IBPS RRB Officer Scale I Prelims (PO) Free Test Series
                        </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="uptet-paper-i-exam-free-test-series-list/5ddd69b6056e3743782e5cb7/index.html"
                            title="UPTET Paper I Free Test Series" class="footer_exam_link"> UPTET Paper I Free
                            Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="uiic-asst-exam-exam-free-test-series-list/5dd4eaca056e374379260b1d/index.html"
                            title="UIIC Asst. Exam Free Test Series" class="footer_exam_link"> UIIC Asst. Exam
                            Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="rbi-grade-b-officer-exam-exam-free-test-series-list/5dd451c1056e3777234738f8/index.html"
                            title="RBI GRADE B Officer Exam Free Test Series" class="footer_exam_link"> RBI
                            GRADE B Officer Exam Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="bank-of-baroda-exam-exam-free-test-series-list/5dd44848056e37771fefe4cc/index.html"
                            title="Bank Of Baroda Exam Free Test Series" class="footer_exam_link"> Bank Of
                            Baroda Exam Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="fci-manager-phase-1-exam-free-test-series-list/5ddaa384056e374375b77a95/index.html"
                            title="FCI Manager Phase 1 Free Test Series" class="footer_exam_link"> FCI Manager
                            Phase 1 Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="ugc-net-paper-i-exam-free-test-series-list/5de01a3a056e3743782f6da1/index.html"
                            title="UGC NET Paper I Free Test Series" class="footer_exam_link"> UGC NET Paper I
                            Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="niacl-assistant-prelims-exam-free-test-series-list/5dc55c0e056e3769981f6754/index.html"
                            title="NIACL Assistant Prelims Free Test Series" class="footer_exam_link"> NIACL
                            Assistant Prelims Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="indian-bank-po-prelims-exam-free-test-series-list/5dc5986c056e375ea64f8058/index.html"
                            title="Indian Bank PO Prelims Free Test Series" class="footer_exam_link"> Indian
                            Bank PO Prelims Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="nicl-ao-exam-free-test-series-list/5dd51f6c056e3743792628ad/index.html"
                            title="NICL AO Free Test Series" class="footer_exam_link"> NICL AO Free Test Series
                        </a> </div>



                    <div class="col-sm-6 col-md-3"><a
                            href="dmrc-cra-exam-exam-free-test-series-list/5e254a43056e3774c0e56258/index.html"
                            title="DMRC CRA Exam Free Test Series" class="footer_exam_link"> DMRC CRA Exam Free
                            Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="railways-asst-loco-pilot-exam-free-test-series-list/5dc50a65056e375087ff0a5b/index.html"
                            title="Railways Asst. Loco Pilot Free Test Series" class="footer_exam_link">
                            Railways Asst. Loco Pilot Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="rrb-ntpc-exam-free-test-series-list/5da419f1056e3758e6643ac9/index.html"
                            title="RRB NTPC Free Test Series" class="footer_exam_link"> RRB NTPC Free Test
                            Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="rrb-ntpc-previous-year-papers-exam-free-test-series-list/5ddcd59f056e3743782e036a/index.html"
                            title="RRB NTPC Previous Year Papers Free Test Series" class="footer_exam_link"> RRB
                            NTPC Previous Year Papers Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="rrb-group-d-exam-free-test-series-list/5dc50b23056e3750891469e5/index.html"
                            title="RRB GROUP D Free Test Series" class="footer_exam_link"> RRB GROUP D Free Test
                            Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="rrc-group-d-exam-free-test-series-list/5dde2045056e37437b1e79c8/index.html"
                            title="RRC Group D Free Test Series" class="footer_exam_link"> RRC Group D Free Test
                            Series </a> </div>



                    <div class="col-sm-6 col-md-3"><a
                            href="upsc-gs-exam-free-test-series-list/5dc16db8056e3768ae22283e/index.html"
                            title="UPSC GS Free Test Series" class="footer_exam_link"> UPSC GS Free Test Series
                        </a> </div>



                    <div class="col-sm-6 col-md-3"><a
                            href="rpf-constable-exam-free-test-series-list/5dc3f9e7056e37432bc192bb/index.html"
                            title="RPF Constable Free Test Series" class="footer_exam_link"> RPF Constable Free
                            Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="indian-air-force-group-y-exam-exam-free-test-series-list/5e200805056e372fab584d97/index.html"
                            title="Indian Air Force Group ‘Y’ Exam Free Test Series" class="footer_exam_link">
                            Indian Air Force Group ‘Y’ Exam Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="rpf-si-exam-free-test-series-list/5dc3eee4056e37432bc18c2b/index.html"
                            title="RPF SI Free Test Series" class="footer_exam_link"> RPF SI Free Test Series
                        </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="intelligence-bureau-acio-exam-exam-free-test-series-list/5dc3ad98056e37432dc8c30f/index.html"
                            title="Intelligence Bureau ACIO Exam Free Test Series" class="footer_exam_link">
                            Intelligence Bureau ACIO Exam Free Test Series </a> </div>



                    <div class="col-sm-6 col-md-3"><a
                            href="lic-asst-mains-exam-free-test-series-list/5de2427a056e375fc8f09da8/index.html"
                            title="LIC Asst. Mains Free Test Series" class="footer_exam_link"> LIC Asst. Mains
                            Free Test Series </a> </div>



                    <div class="col-sm-6 col-md-3"><a
                            href="ctet-paper-ii-social-studies-exam-free-test-series-list/5de61188056e370487404bdf/index.html"
                            title="CTET Paper II - Social Studies Free Test Series" class="footer_exam_link">
                            CTET Paper II - Social Studies Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="ctet-paper-i-exam-free-test-series-list/5de18ee4056e375fc7ebbe87/index.html"
                            title="CTET Paper I Free Test Series" class="footer_exam_link"> CTET Paper I Free
                            Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="ctet-paper-ii-maths-science-exam-free-test-series-list/5de25820056e375fc8f0bb83/index.html"
                            title="CTET Paper II - Maths &amp; Science Free Test Series" class="footer_exam_link"> CTET
                            Paper II - Maths &amp; Science Free Test Series </a>
                    </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="uptet-paper-ii-maths-science-exam-free-test-series-list/5dea2bad056e371629c5c5d1/index.html"
                            title="UPTET Paper II - Maths &amp; Science Free Test Series" class="footer_exam_link">
                            UPTET Paper II - Maths &amp; Science Free Test Series </a>
                    </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="uptet-paper-ii-social-studies-exam-free-test-series-list/5dea2b16056e371628dd2d8b/index.html"
                            title="UPTET Paper II - Social Studies Free Test Series" class="footer_exam_link">
                            UPTET Paper II - Social Studies Free Test Series </a> </div>



                    <div class="col-sm-6 col-md-3"><a
                            href="indian-navy-entrance-exam-officer-entry-exam-free-test-series-list/5e203462056e3774bba71584/index.html"
                            title="Indian Navy Entrance Exam (Officer Entry) Free Test Series" class="footer_exam_link">
                            Indian Navy Entrance Exam (Officer Entry) Free Test Series
                        </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="indian-navy-aa-ssr-exam-2020-exam-free-test-series-list/5e25799f056e3774bba862b4/index.html"
                            title="Indian Navy (AA + SSR) Exam 2020 Free Test Series" class="footer_exam_link">
                            Indian Navy (AA + SSR) Exam 2020 Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="indian-air-force-group-x-exam-exam-free-test-series-list/5e200457056e372faaf5f920/index.html"
                            title="Indian Air Force Group ‘X’ Exam Free Test Series" class="footer_exam_link">
                            Indian Air Force Group ‘X’ Exam Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="national-defence-academy-exam-exam-free-test-series-list/5e33cb7e056e3774be231c3d/index.html"
                            title="National Defence Academy Exam Free Test Series" class="footer_exam_link">
                            National Defence Academy Exam Free Test Series </a> </div>

                    <div class="col-sm-6 col-md-3"><a
                            href="indian-air-force-afcat-2020-exam-free-test-series-list/5e1edcd9056e372fad96a5f0/index.html"
                            title="Indian Air Force AFCAT 2020 Free Test Series" class="footer_exam_link">
                            Indian Air Force AFCAT 2020 Free Test Series </a> </div>



                    <div class="col-sm-6 col-md-3"><a
                            href="upsc-epfo-exam-exam-free-test-series-list/5e633edd056e3774be35d176/index.html"
                            title="UPSC EPFO Exam Free Test Series" class="footer_exam_link"> UPSC EPFO Exam
                            Free Test Series </a> </div>


                </div>


            </div>
        </div>


    </div>



</div>