<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="./../image/govt_of_india_logo1.jpg" type="image/x-icon" />

    <link rel="apple-touch-icon" sizes="57x57" href="./../image/govt_of_india_logo1.jpg">
    <link rel="apple-touch-icon" sizes="60x60" href="./../image/govt_of_india_logo1.jpg">
    <link rel="apple-touch-icon" sizes="72x72" href="./../image/govt_of_india_logo1.jpg">
    <link rel="apple-touch-icon" sizes="76x76" href="./../image/govt_of_india_logo1.jpg">
    <link rel="apple-touch-icon" sizes="114x114" href="./../image/govt_of_india_logo1.jpg">
    <link rel="apple-touch-icon" sizes="120x120" href="./../image/govt_of_india_logo1.jpg">
    <link rel="apple-touch-icon" sizes="144x144" href="./../image/govt_of_india_logo1.jpg">
    <link rel="apple-touch-icon" sizes="152x152" href="./../image/govt_of_india_logo1.jpg">
    <link rel="apple-touch-icon" sizes="180x180" href="./../image/govt_of_india_logo1.jpg">
    <link rel="icon" type="image/png" sizes="192x192" href="./../image/govt_of_india_logo1.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="./../image/govt_of_india_logo1.jpg">
    <link rel="icon" type="image/png" sizes="96x96" href="./../image/govt_of_india_logo1.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="./../image/govt_of_india_logo1.jpg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/govtjob/images/favicon/ms-icon-144x144.png/">
    <meta name="theme-color" content="#ffffff">


    
    
   <meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111550524-1"></script> -->
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-111550524-1');
        gtag('config', 'AW-764244635');
    </script>




      <style type="text/css">
        /* IMG Modal Starts */
        .img_modal_container {
            background: rgba(0, 0, 0, 0.8);
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2000;
        }

        .img_modal_container .close_modal_btn {
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            padding: 10px 20px;
            color: #ccc;
            font-size: 40px;
            cursor: pointer;
        }

        .img_modal_container .close_modal_btn:hover {
            color: #fff;
        }

        .img_modal_link_wrapper {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            text-align: center;
            /*width:100%;*/
        }

        .img_modal_container img {
            width: 400px;
            max-width: 100%;
        }

        .hidden {
            display: none;
        }

        /* IMG Modal Ends */
    </style> 
    
    
    
    
    
    <link rel="icon" href="./../image/govt_of_india_logo1.jpg" type="image/x-icon">


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title> Free Mock Tests for SBI, IBPS, SSC, Railways</title>
    <meta name="description" content=" - Free Mock Tests for SBI, IBPS, SSC, Railways">
    <meta name="description" content=" - Free Mock Tests for SBI, IBPS, SSC, Railways">
    <meta property="og:title" content=" - Free Mock Tests for SBI, IBPS, SSC, Railways">
    <!-- <meta property="og:description" content="India's Largest Free Mock Tests Platform and Android App"> -->
    <!-- <meta property="og:image"
		content="https://govjobadda.org/static/govtjob/images/govjobadda-android-app.png"> -->


    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Roboto&amp;display=swap"
        rel="stylesheet">
    <link href="../css/4font-awesome_ionicons.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/3bootstrap.min.css" />
    <link rel="stylesheet" href="../css/2homepageb6f5.css" />
    <link rel="stylesheet" href="../css/1helper_classesb6f5.css" />
