
   
   
   
   
   
   <meta http-equiv="content-type" content="text/html;charset=utf-8" />
   
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/image/govt_of_india_logo1.jpg" type="image/x-icon" />

    <link rel="apple-touch-icon" sizes="57x57" href="/image/govt_of_india_logo1.jpg">
    <link rel="apple-touch-icon" sizes="60x60" href="/image/govt_of_india_logo1.jpg">
    <link rel="apple-touch-icon" sizes="72x72" href="/image/govt_of_india_logo1.jpg">
    <link rel="apple-touch-icon" sizes="76x76" href="/image/govt_of_india_logo1.jpg">
    <link rel="apple-touch-icon" sizes="114x114" href="/image/govt_of_india_logo1.jpg">
    <link rel="apple-touch-icon" sizes="120x120" href="/image/govt_of_india_logo1.jpg">
    <link rel="apple-touch-icon" sizes="144x144" href="/image/govt_of_india_logo1.jpg">
    <link rel="apple-touch-icon" sizes="152x152" href="/image/govt_of_india_logo1.jpg">
    <link rel="apple-touch-icon" sizes="180x180" href="/image/govt_of_india_logo1.jpg">
    <link rel="icon" type="image/png" sizes="192x192" href="/image/govt_of_india_logo1.jpg">
    <link rel="icon" type="image/png" sizes="32x32" href="/image/govt_of_india_logo1.jpg">
    <link rel="icon" type="image/png" sizes="96x96" href="/image/govt_of_india_logo1.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="/image/govt_of_india_logo1.jpg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/govtjob/images/favicon/ms-icon-144x144.png/">
    <meta name="theme-color" content="#ffffff">


    <link rel="icon" href="image/govt_of_india_logo1.jpg" type="image/x-icon">


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title> Free Mock Tests for SBI, IBPS, SSC, Railways</title>
    <meta name="description" content=" - Free Mock Tests for SBI, IBPS, SSC, Railways">
    <meta name="description" content=" - Free Mock Tests for SBI, IBPS, SSC, Railways">
    <meta property="og:title" content=" - Free Mock Tests for SBI, IBPS, SSC, Railways">
    <!-- <meta property="og:description" content="India's Largest Free Mock Tests Platform and Android App"> -->
    <!-- <meta property="og:image"
		content="https://govjobadda.org/static/govtjob/images/govjobadda-android-app.png"> -->


    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Roboto&amp;display=swap"
        rel="stylesheet">
    <link href="scss/4font-awesome_ionicons.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="scss/3bootstrap.min.css" />
    <link rel="stylesheet" href="scss/2homepageb6f5.css" />
    <link rel="stylesheet" href="scss/1helper_classesb6f5.css" />