 <div class=" section_row section_row_1">
            <div class="container">
                <div class="text-center">
                    <h3 class="section_header"> Online Mock Tests </h3>
                </div>

                <div>
                    <div class="isotope_demo">
                        <ul class="button-group filters-button-group isotope_controls">
                            <li class="button is-checked" data-filter=".all_exam"> All Exams </li>
                            <li class="button" data-filter=".upcoming_exam"> Upcoming Exams </li>

                            <li class="button" data-filter=".sectional-exam_exam"> Sectional Exam </li>

                            <li class="button" data-filter=".ssc_exam"> SSC </li>

                            <li class="button" data-filter=".banking_exam"> Banking </li>

                            <li class="button" data-filter=".railways_exam"> Railways </li>

                            <li class="button" data-filter=".civil-services_exam"> Civil Services </li>

                            <li class="button" data-filter=".police_exam"> Police </li>

                            <li class="button" data-filter=".insurance_exam"> Insurance </li>

                            <li class="button" data-filter=".teaching_exam"> Teaching </li>

                            <li class="button" data-filter=".defence_exam"> Defence </li>

                            <li class="button" data-filter=".upsc_exam"> UPSC </li>


                        </ul>

                        <div class="grid">
                            <div class="grid">



                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item sectional-exam_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="current-affairs-mcq-exam-free-test-series-list/5dc9886a056e3726c4d34c9a/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/tempsnip.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> Current Affairs MCQ <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item sectional-exam_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="chapter-wise-testsbilingual-exam-free-test-series-list/5db29785056e3768ae219143/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/Untitled_design.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> Chapter Wise Tests(Bilingual) <br /> Free Mock Tests
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item sectional-exam_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="sectional-tests-exam-free-test-series-list/5dde551a056e3743792888c7/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/sectional.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> Sectional Tests <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item sectional-exam_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="general-awareness-subject-wise-exam-free-test-series-list/5db0089a056e375982370e25/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/p.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> General Awareness Subject Wise <br /> Free Mock
                                                Tests </div>
                                        </div>
                                    </a>
                                </div>



                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item ssc_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="hssc-canal-patwari-exam-free-test-series-list/5e01b576056e3775449da16a/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/HSSC.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> HSSC Canal Patwari <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item ssc_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="hssc-sub-inspector-exam-free-test-series-list/5e01d806056e377545323189/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/HSSC.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> HSSC SUB-INSPECTOR <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item ssc_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="hssc-constable-exam-free-test-series-list/5e01ea25056e3775453259ca/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/HSSC.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> HSSC CONSTABLE <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item ssc_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="rajasthan-patwari-exam-exam-free-test-series-list/5e60904c056e3774bbbe55a7/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/RAJASTHAN PATWARI.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> Rajasthan Patwari Exam <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item ssc_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="ssc-cgl-tier-2-exam-exam-free-test-series-list/5e70d091056e3774bbc21d18/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/ssc_new_logo.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> SSC CGL Tier 2 Exam <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item ssc_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="ssc-chsl-previous-year-papers-exam-free-test-series-list/5dc666cc056e375c3263d78d/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/ssc_new_logo.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> SSC CHSL Previous Year Papers <br /> Free Mock Tests
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item ssc_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="ssc-cgl-tier-i-exam-free-test-series-list/5da9b1f8056e37597b485091/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/ssc_new_logo.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> SSC CGL Tier I <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item ssc_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="ssc-cgl-previous-year-papers-exam-free-test-series-list/5dc13ec7056e3768b006c6c8/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/ssc_new_logo.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> SSC CGL Previous Year Papers <br /> Free Mock Tests
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item ssc_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="ssc-chsl-tier-i-exam-free-test-series-list/5ff422c3056e375168367a0f/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../../image/ssc_new_logo.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> SSC CHSL Tier I <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>



                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="rbi-assistant-prelim-exam-exam-free-test-series-list/5dc5b98c056e375e9f3b03dd/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/RBI.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> RBI Assistant Prelim Exam <br /> Free Mock Tests
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="niacl-ao-prelim-exam-free-test-series-list/5dd42ec1056e37772346e5d8/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/niacl.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> NIACL AO Prelim <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="nabard-office-attendant-exam-exam-free-test-series-list/5e05d9b1056e3758c9bd4434/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/nabard1.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> Nabard Office Attendant Exam <br /> Free Mock Tests
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="nabard-grade-a-exam-exam-free-test-series-list/5e300058056e3774ba5f630b/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/nabard1.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> NABARD Grade A Exam <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="rbi-assistant-mains-exam-exam-free-test-series-list/5e4b6259056e3774bdf10874/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/RBI.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> RBI Assistant Mains Exam <br /> Free Mock Tests
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="central-bank-of-india-soit-exam-exam-free-test-series-list/5e27f8ef056e3774bba91225/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/Central-Bank-of-India-recruitment.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> Central Bank Of India SO(IT) Exam <br /> Free Mock
                                                Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="dena-bank-po-exam-free-test-series-list/5dd4d618056e37437925d6f1/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/dena-bank-min-579460034.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> DENA BANK PO <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="sbi-po-main-exam-free-test-series-list/5dd41c8e056e37771e789c77/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/sbi.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> SBI PO Main <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="ibps-clerk-prelims-exam-free-test-series-list/5da419b2056e3758e7b5e5e9/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/IBPS_1.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> IBPS Clerk Prelims <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="sbi-po-prelims-exam-free-test-series-list/5dc70140056e37456a0e5270/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/sbi.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> SBI PO Prelims <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="ibps-po-prelims-2020-exam-free-test-series-list/5dc7067a056e37456a0e536b/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/IBPS_1.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> IBPS PO Prelims 2020 <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="ibps-rrb-officer-scale-i-mains-po-exam-free-test-series-list/5dd43b7c056e37772346f6ce/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/IBPS_1.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> IBPS RRB Officer Scale I Mains (PO) <br /> Free Mock
                                                Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="ibps-rrb-office-asst-mains-clerk-exam-free-test-series-list/5dd44080056e37771d784137/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/IBPS_1.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> IBPS RRB Office Asst. Mains (Clerk) <br /> Free Mock
                                                Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="sbi-clerk-prelims-exam-free-test-series-list/5dc72aa8056e37456f683efb/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/sbi.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> SBI Clerk Prelims <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="ibps-rrb-office-asst-prelims-clerk-exam-free-test-series-list/5dc53ea4056e37508d4abf78/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/IBPS_1.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> IBPS RRB Office Asst. Prelims (Clerk) <br /> Free
                                                Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="ibps-rrb-officer-scale-i-prelims-po-exam-free-test-series-list/5dc40271056e37432dc8e4e7/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/IBPS_1.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> IBPS RRB Officer Scale I Prelims (PO) <br /> Free
                                                Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="uptet-paper-i-exam-free-test-series-list/5ddd69b6056e3743782e5cb7/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/UP TET.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> UPTET Paper I <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="uiic-asst-exam-exam-free-test-series-list/5dd4eaca056e374379260b1d/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/UNITED INDIA.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> UIIC Asst. Exam <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="rbi-grade-b-officer-exam-exam-free-test-series-list/5dd451c1056e3777234738f8/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/RBI.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> RBI GRADE B Officer Exam <br /> Free Mock Tests
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="bank-of-baroda-exam-exam-free-test-series-list/5dd44848056e37771fefe4cc/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/BANK OF BARODA.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> Bank Of Baroda Exam <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="fci-manager-phase-1-exam-free-test-series-list/5ddaa384056e374375b77a95/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/FCI MANAGER PHASE1.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> FCI Manager Phase 1 <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="ugc-net-paper-i-exam-free-test-series-list/5de01a3a056e3743782f6da1/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/UGC NET_284.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> UGC NET Paper I <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="niacl-assistant-prelims-exam-free-test-series-list/5dc55c0e056e3769981f6754/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/niacl.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> NIACL Assistant Prelims <br /> Free Mock Tests
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="indian-bank-po-prelims-exam-free-test-series-list/5dc5986c056e375ea64f8058/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/INDIAN BANK.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> Indian Bank PO Prelims <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item banking_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="nicl-ao-exam-free-test-series-list/5dd51f6c056e3743792628ad/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/niacl.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> NICL AO <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>



                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item railways_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="dmrc-cra-exam-exam-free-test-series-list/5e254a43056e3774c0e56258/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/349px-Delhi_Metro_logo.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> DMRC CRA Exam <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item railways_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="railways-asst-loco-pilot-exam-free-test-series-list/5dc50a65056e375087ff0a5b/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/wester-railway.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> Railways Asst. Loco Pilot <br /> Free Mock Tests
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item railways_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="rrb-ntpc-exam-free-test-series-list/5da419f1056e3758e6643ac9/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/wester-railway.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> RRB NTPC <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item railways_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="rrb-ntpc-previous-year-papers-exam-free-test-series-list/5ddcd59f056e3743782e036a/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/RAILWAYS_1.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> RRB NTPC Previous Year Papers <br /> Free Mock Tests
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item railways_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="rrb-group-d-exam-free-test-series-list/5dc50b23056e3750891469e5/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/RAILWAYS_1.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> RRB GROUP D <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item railways_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="rrc-group-d-exam-free-test-series-list/5dde2045056e37437b1e79c8/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/RAILWAYS_1.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> RRC Group D <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>



                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item civil-services_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="upsc-gs-exam-free-test-series-list/5dc16db8056e3768ae22283e/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/upsc.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> UPSC IAS <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>



                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item police_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="rpf-constable-exam-free-test-series-list/5dc3f9e7056e37432bc192bb/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="./../image/rpf_constable_logo.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> RPF Constable <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item police_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="indian-air-force-group-y-exam-exam-free-test-series-list/5e200805056e372fab584d97/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/indian-air-force-afcat-02-2019-result.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> Indian Air Force Group ‘Y’ Exam <br /> Free Mock
                                                Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item police_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="rpf-si-exam-free-test-series-list/5dc3eee4056e37432bc18c2b/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/RPF-logo.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> RPF SI <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item police_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="intelligence-bureau-acio-exam-exam-free-test-series-list/5dc3ad98056e37432dc8c30f/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/ib.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> Intelligence Bureau ACIO Exam <br /> Free Mock Tests
                                            </div>
                                        </div>
                                    </a>
                                </div>



                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item insurance_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="lic-asst-mains-exam-free-test-series-list/5de2427a056e375fc8f09da8/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/lic_291.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> LIC Asst. Mains <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>



                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item teaching_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="ctet-paper-ii-social-studies-exam-free-test-series-list/5de61188056e370487404bdf/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/CTET PAPER II.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> CTET Paper II - Social Studies <br /> Free Mock
                                                Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item teaching_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="ctet-paper-i-exam-free-test-series-list/5de18ee4056e375fc7ebbe87/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/CTET PAPER II.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> CTET Paper I <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item teaching_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="ctet-paper-ii-maths-science-exam-free-test-series-list/5de25820056e375fc8f0bb83/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/CTET PAPER II.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> CTET Paper II - Maths &amp; Science <br /> Free Mock
                                                Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item teaching_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="uptet-paper-ii-maths-science-exam-free-test-series-list/5dea2bad056e371629c5c5d1/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/UP TET.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> UPTET Paper II - Maths &amp; Science <br /> Free
                                                Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item teaching_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="uptet-paper-ii-social-studies-exam-free-test-series-list/5dea2b16056e371628dd2d8b/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/UP TET.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> UPTET Paper II - Social Studies <br /> Free Mock
                                                Tests </div>
                                        </div>
                                    </a>
                                </div>



                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item defence_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="indian-navy-entrance-exam-officer-entry-exam-free-test-series-list/5e203462056e3774bba71584/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/Indian-navy-logo-PNG-715x715.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> Indian Navy Entrance Exam (Officer Entry) <br />
                                                Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item defence_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="indian-navy-aa-ssr-exam-2020-exam-free-test-series-list/5e25799f056e3774bba862b4/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/Indian-navy-logo-PNG-715x715.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> Indian Navy (AA + SSR) Exam 2020 <br /> Free Mock
                                                Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item defence_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="indian-air-force-group-x-exam-exam-free-test-series-list/5e200457056e372faaf5f920/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/indian-air-force-afcat-02-2019-result.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> Indian Air Force Group ‘X’ Exam <br /> Free Mock
                                                Tests </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item defence_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="national-defence-academy-exam-exam-free-test-series-list/5e33cb7e056e3774be231c3d/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/nda.jpg" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> National Defence Academy Exam <br /> Free Mock Tests
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item defence_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="indian-air-force-afcat-2020-exam-free-test-series-list/5e1edcd9056e372fad96a5f0/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/indian-air-force-afcat-02-2019-result.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> Indian Air Force AFCAT 2020 <br /> Free Mock Tests
                                            </div>
                                        </div>
                                    </a>
                                </div>



                                <div
                                    class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bg-gray-888  element-item upsc_exam  all_exam ">
                                    <a class="exam_card same_height"
                                        href="upsc-epfo-exam-exam-free-test-series-list/5e633edd056e3774be35d176/index.html">
                                        <div class="exam_logo_wrapper">
                                            <img src="../image/upsc-logo-png.png" />
                                        </div>
                                        <div class="exam_card_data">
                                            <div class="exam_name"> UPSC EPFO Exam <br /> Free Mock Tests </div>
                                        </div>
                                    </a>
                                </div>



                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>