<nav
        class="main_navbar navbar navbar-expand-lg navbar-light bg-white fixed-top homepage_navbar transparent has_transition">

        <div class="container position-relative">
            <a class="navbar-brand" href="index.html">
                <img src="./../image/govt_of_india_logo1.jpg" alt="job_logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav ml-auto">








                    <li class="nav-item">
                        <a class="nav-link" href="exam-list/index.html"> Mock Tests </a>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link" href="current-affairs/index.html"> Current Affairs </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="blogs/index.html"> Blogs </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact-us/index.html"> Contact </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="accounts/login/index.html"> Login </a>
                    </li>


                    <!-- <li class="nav-item padding-r-5">
						<a class="nav-link btn btn-success text-white"
							href="https://play.google.com/store/apps/details?id=org.govjobadda.android"> <i
								class="fa fa-android margin-r-5 "></i> Download App </a>
					</li> -->

                    <li class="nav-item ">
                        <a class="nav-link btn btn-outline-danger " href="accounts/register/index.html"> Register </a>
                    </li>



                </ul>

            </div>
        </div>
    </nav>
