 <div class=" section_row section_row_1">
            <div class="container">
                <div class="text-center">
                    <h3 class="section_header mb-5"> Follow Us on Social Media ! </h3>

                </div>

                <div class="row">

                    <div class="col-sm-3 text-center">
                        <a target="_blank" href="#" class="social_box fb_box">

                            <div class="description ">
                                JOIN OUR <br> FB GROUP
                            </div>

                            <div class="image_wrapper"> <i class="fa fa-facebook text-white"></i> </div>
                            <div class="description "> 50000 + <br> Members </div>

                        </a>
                    </div>


                    <div class="col-sm-3 text-center">
                        <a target="_blank" href="#" class="social_box instagram_box">

                            <div class="description ">
                                FOLLOW US <br> ON INSTAGRAM
                            </div>

                            <div class="image_wrapper"> <i class="fa fa-instagram"></i> </div>
                            <div class="description "> JUST <br> LAUNCHED ! </div>

                        </a>
                    </div>

                    <div class="col-sm-3 text-center">
                        <a target="_blank" href="#" class="social_box telegram_box">

                            <div class="description ">
                                TELEGRAM <br> CHANNEL
                            </div>

                            <div class="image_wrapper"> <i class="fa fa-paper-plane"></i> </div>
                            <div class="description "> 1300 + <br> Followers </div>

                        </a>
                    </div>

                    <div class="col-sm-3 text-center">
                        <a target="_blank" href="#" class="social_box fb_box">

                            <div class="description ">
                                FACEBOOK <br> PAGE
                            </div>

                            <div class="image_wrapper"> <i class="fa fa-facebook"></i> </div>
                            <div class="description "> 28000 + <br>Followers </div>

                        </a>
                    </div>
                </div>

            </div>
        </div>
        <!-- ===================user use=============app================== -->
        <div class=" section_row section_row_3">
            <div class="container">
                <div class="row text-center mt-5">

                    <div class="col-md-3 font-18">
                        <div class="counter_number">5 Lakh+</div>
                        <div class="counter_text"> Users </div>
                    </div>
                    <div class="col-md-3 font-18">
                        <div class="counter_number">3000+</div>
                        <div class="counter_text">Mock Tests</div>
                    </div>
                    <div class="col-md-3 font-18">
                        <div class="counter_number">50,000+</div>
                        <div class="counter_text">Questions</div>
                    </div>

                    <div class="col-md-3 font-18">
                        <div class="counter_number">4 Crore+</div>
                        <div class="counter_text">Attempts</div>
                    </div>
                </div>
            </div>
        </div>