<div class=" section_row section_row_3">
			<div class="container">
				<div class="row text-center mt-5">

					<div class="col-md-3 font-18">
						<div class="counter_number">5 Lakh+</div>
						<div class="counter_text"> Users </div>
					</div>
					<div class="col-md-3 font-18">
						<div class="counter_number">3000+</div>
						<div class="counter_text">Mock Tests</div>
					</div>
					<div class="col-md-3 font-18">
						<div class="counter_number">50,000+</div>
						<div class="counter_text">Questions</div>
					</div>

					<div class="col-md-3 font-18">
						<div class="counter_number">4 Crore+</div>
						<div class="counter_text">Attempts</div>
					</div>
				</div>
			</div>
		</div>