Body {
    font-family: Calibri, Helvetica, sans-serif;
    background-color: pink;
/* padding-block: 20px; */
  }
  button { 
         background-color: #4CAF50; 
         width: 100%;
          color: orange; 
          padding: 15px; 
          margin: 10px 0px; 
          border: none; 
          cursor: pointer; 
           } 
   form { 
          /* border: 6px solid #f1f1f1;  */
          padding: 2% 20%;
      } 
   input[type=text], input[type=password] { 
          width: 100%; 
          margin: 8px 0;
          padding: 12px 20px; 
          display: inline-block; 
          border: 2px solid green; 
          box-sizing: border-box; 
      }
   button:hover { 
          opacity: 0.78; 
      } 
    .cancelbtn { 
          width: auto; 
          padding: 10px 18px;
          margin: 10px 5px;
      } 
        
     
   .container { 
          padding: 30px; 
          background-color: rgb(187, 224, 236);
      } 
      h1{
          text-align: center;
      }